In [1]:
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

In [2]:
df_green = spark.read.parquet('data/pq/green/*/*')

In [3]:
df_green.printSchema()

root
 |-- VendorID: long (nullable = true)
 |-- lpep_pickup_datetime: timestamp_ntz (nullable = true)
 |-- lpep_dropoff_datetime: timestamp_ntz (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- RatecodeID: double (nullable = true)
 |-- PULocationID: long (nullable = true)
 |-- DOLocationID: long (nullable = true)
 |-- passenger_count: double (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- ehail_fee: integer (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- payment_type: double (nullable = true)
 |-- trip_type: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)

In [4]:
df_green = df_green \
    .withColumnRenamed('lpep_pickup_datetime', 'pickup_datetime') \
    .withColumnRenamed('lpep_dropoff_datetime', 'dropoff_datetime')

In [5]:
df_yellow = spark.read.parquet('data/pq/yellow/*/*')

In [6]:
df_yellow = df_yellow \
    .withColumnRenamed('tpep_pickup_datetime', 'pickup_datetime') \
    .withColumnRenamed('tpep_dropoff_datetime', 'dropoff_datetime')

In [7]:
common_colums = []

yellow_columns = set(df_yellow.columns)

for col in df_green.columns:
    if col in yellow_columns:
        common_colums.append(col)

In [8]:
from pyspark.sql import functions as F

In [9]:
df_green_sel = df_green \
    .select(common_colums) \
    .withColumn('service_type', F.lit('green'))

In [10]:
df_yellow_sel = df_yellow \
    .select(common_colums) \
    .withColumn('service_type', F.lit('yellow'))

In [11]:
df_trips_data = df_green_sel.unionAll(df_yellow_sel)

In [12]:
df_trips_data.groupBy('service_type').count().show()

+------------+--------+
|service_type|   count|
+------------+--------+
|       green| 2802931|
|      yellow|55553400|
+------------+--------+

In [13]:
df_trips_data.columns

['VendorID',
 'pickup_datetime',
 'dropoff_datetime',
 'store_and_fwd_flag',
 'RatecodeID',
 'PULocationID',
 'DOLocationID',
 'passenger_count',
 'trip_distance',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'improvement_surcharge',
 'total_amount',
 'payment_type',
 'congestion_surcharge',
 'service_type']

In [15]:
df_trips_data.createOrReplaceTempView ('trips_data')

In [16]:
spark.sql("""
SELECT
    service_type,
    count(1)
FROM
    trips_data
GROUP BY 
    service_type
""").show()

+------------+--------+
|service_type|count(1)|
+------------+--------+
|       green| 2802931|
|      yellow|55553400|
+------------+--------+

In [17]:
df_result = spark.sql("""
SELECT 
    -- Reveneue grouping 
    PULocationID AS revenue_zone,
    date_trunc('month', pickup_datetime) AS revenue_month, 
    service_type, 

    -- Revenue calculation 
    SUM(fare_amount) AS revenue_monthly_fare,
    SUM(extra) AS revenue_monthly_extra,
    SUM(mta_tax) AS revenue_monthly_mta_tax,
    SUM(tip_amount) AS revenue_monthly_tip_amount,
    SUM(tolls_amount) AS revenue_monthly_tolls_amount,
    SUM(improvement_surcharge) AS revenue_monthly_improvement_surcharge,
    SUM(total_amount) AS revenue_monthly_total_amount,
    SUM(congestion_surcharge) AS revenue_monthly_congestion_surcharge,

    -- Additional calculations
    AVG(passenger_count) AS avg_montly_passenger_count,
    AVG(trip_distance) AS avg_montly_trip_distance
FROM
    trips_data
GROUP BY
    1, 2, 3
""")

In [18]:
df_result.show()

+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+--------------------------+------------------------+
|revenue_zone|      revenue_month|service_type|revenue_monthly_fare|revenue_monthly_extra|revenue_monthly_mta_tax|revenue_monthly_tip_amount|revenue_monthly_tolls_amount|revenue_monthly_improvement_surcharge|revenue_monthly_total_amount|revenue_monthly_congestion_surcharge|avg_montly_passenger_count|avg_montly_trip_distance|
+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+--------------------------+------------------------+
|         120|2020-01-01 00:00:00|       green|   692.4300000000001|                 5.25|                    7.0|        21.970000000000002|                       12.24|                    8.399999999999999|           752.7899999999997|                                 5.5|        1.1935483870967742|       4.636562499999999|
|          82|2020-02-01 00:00:00|       green|  182594.36999999933|              8411.75|                 7522.0|        11186.169999999995|          1384.4300000000007|                    4754.099999999961|           216460.6200000223|                              651.75|        1.4300339071465833|       2.417771898151039|
|          61|2020-02-01 00:00:00|       green|   69339.43000000014|               5996.0|                  893.0|        1025.1799999999998|           741.7500000000005|                    999.9000000000265|           79369.60999999967|                              120.75|        1.2360128617363344|       3.522798644450718|
|          49|2020-01-01 00:00:00|       green|   58169.51999999992|               3496.5|                 1246.0|         2424.090000000002|           554.3200000000003|                    995.3999999999404|           67685.68000000155|                              557.75|        1.1845878136200716|      3.5272473669228623|
|         229|2020-01-01 00:00:00|       green|             2178.53|                137.5|                    8.5|                       0.0|                       88.48|                   20.100000000000026|                     2433.11|                                 0.0|                       1.0|       7.693529411764706|
|         154|2020-02-01 00:00:00|       green|  414.29999999999995|                 28.0|                    2.0|                       0.0|                        2.29|                   3.5999999999999996|          450.19000000000005|                                 0.0|                       1.0|       7.059230769230769|
|          14|2020-01-01 00:00:00|       green|   44186.50999999987|               2549.0|                  345.5|         257.0000000000001|          1285.8899999999965|                    412.2000000000099|           49090.69999999996|                               74.25|        1.0737704918032787|       6.876796973518285|
|          32|2020-01-01 00:00:00|       green|   16687.05999999999|              1131.75|                  113.5|         74.99999999999999|                      917.17|                     177.300000000001|          19107.629999999954|                                 5.5|        1.3095238095238095|        6.41725038402458|
|         128|2020-01-01 00:00:00|       green|             3261.33|                158.0|                   35.5|         82.25000000000001|          104.04000000000002|                    34.50000000000003|          3714.0200000000023|                                27.5|        1.0169491525423728|      7.0232800000000015|
|          47|2020-02-01 00:00:00|       green|             13825.3|              1181.25|                  122.5|                     66.66|           458.9700000000002|                   174.59999999999906|          15851.980000000018|                                11.0|        1.1617021276595745|       4.698445512820511|
|         222|2020-02-01 00:00:00|       green|  19378.070000000007|               1724.5|                   94.5|                     10.83|           514.8300000000003|                   176.09999999999906|           21898.82999999999|                                 0.0|        1.1714285714285715|       7.231880597014925|
|           3|2020-02-01 00:00:00|       green|             9758.05|                853.0|                   45.5|                      1.68|           429.6700000000002|                   105.59999999999971|          11204.300000000001|                                 0.0|        1.4647887323943662|      6.0781401617250665|
|         216|2020-02-01 00:00:00|       green|  19758.420000000006|               1245.0|                  110.0|        102.96000000000001|           424.2500000000001|                   195.29999999999887|           21843.37999999996|                                 5.5|        1.1793893129770991|       6.703884785819795|
|          31|2020-02-01 00:00:00|       green|             1657.56|                 82.0|                   25.0|        107.83000000000001|                       53.52|                    22.50000000000001|          1975.9099999999994|                               30.25|        1.0178571428571428|       5.226790123456789|
|         237|2020-02-01 00:00:00|       green|  2662.5299999999997|               184.25|                    4.0|                       0.0|                      103.52|                   20.700000000000006|                      2975.0|                                 0.0|                       1.0|       9.698840579710149|
|         155|2020-01-01 00:00:00|       green|   25022.44000000009|              1798.25|                  212.0|                      9.01|           429.1100000000003|                   255.00000000000395|          27730.510000000017|                                2.75|        1.2418300653594772|       5.510752475247519|
|          28|2020-02-01 00:00:00|       green|  12194.370000000003|                851.0|                   97.0|        109.13000000000001|           293.7600000000001|                   134.69999999999942|          13687.410000000022|                                 5.5|                      1.25|       5.831763485477177|
|          63|2020-01-01 00:00:00|       green|  13895.150000000018|                820.5|                  105.0|                      3.56|          420.74000000000024|                   135.29999999999941|                    15380.25|                                 0.0|        1.0892857142857142|       6.209071146245065|
|         244|2020-02-01 00:00:00|       green|  183564.74999999965|              6805.25|                 5067.5|        19970.690000000024|           3487.359999999978|                   3272.9999999996867|          230201.80000001268|                              9198.5|        1.3289116963594112|       4.280981274756944|
|         184|2020-02-01 00:00:00|       green|              481.62|                30.75|                    2.5|                       3.0|                       56.59|                                  3.6|                      578.06|                                 0.0|                      1.75|       9.593999999999998|
+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+--------------------------+------------------------+
only showing top 20 rows

In [19]:
df_result.coalesce(1).write.parquet('data/report/revenue/', mode='overwrite')